html, body, #root, main {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#ui-wrap {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    pointer-events: none;

    button {
        pointer-events: all;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Syne Mono', monospace;
        background-color: transparent;
        color: white;
        border: 0;
        height: 40px;
        padding: 44px;
        margin-top: 15px;

    }
    button#reset {
        // border: 0;
        // height: 40px;
        // padding: 44px;
        // margin-top: 15px;

        animation: flash 1000ms ease-in-out 0ms infinite alternate-reverse;

        &:disabled {
            animation: none;
        }
    }

    #switcher {
        position: absolute;
        bottom: 0;
        left: 40%;
        display: flex;
        width: 20%;
        justify-content: space-evenly;

        button {
            opacity: 0.5;
            &.selected {
                opacity: 1;
            }
        }
    }
}

@media (max-width: 900px) {
    #ui-wrap {
        button {
            font-size: 22px;
        }
    }
}
@media (min-width: 900px) {
    #ui-wrap {
        button {
            font-size: 32px;
        }
    }
}

@keyframes flash {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

main {
    background-color: #264653;
}

@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');